/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= elements -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
body {
  font-family: serif;
  font-size: 1.6em;
}
li {
  list-style-type: : circle;
}
header h1, button {
  display: inline-block;
}
header button {
  margin-right: 10px;
  margin-top: 15px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= classes -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
.show {
  border: 3px red solid;
}
.accent {
  color: #2BBBAD;
}
.accentBorder {
  border-bottom: 5px #2BBBAD solid;
}
.header {
  border-bottom: 1px #2BBBAD solid;
}
.bold {
  font-weight: bold;
}
.noLink {
  text-decoration: none;
  color: black;
  /*margin-left: 50px;*/
}
.block {
  display: block;
}
.error {
  color: red;
}
.pad {
  margin: 5px 0;
}
.negTopMrgn {
  margin-top: -20px;
}
.map {
  margin-top: 60px;
}
/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- ids -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=*/
#sidebar {
  height: 500px;
  width: 10px;
  background-color: #2BBBAD;
  position: absolute;
  left: 8%;
  margin-top: 15px;
}
#bar {
  height: 6px;
  background-color: #2BBBAD;
  margin-left: -25px;
}
#buttons input, button {
  margin-top: 25px;
}
#buttons2 input, button {
  margin-top: 25px;
}
#cancel {
  margin-top: 10px;
}
#chart {
  margin-top: -145px;
  height: 300px;
}
#logo {
  width: 100%;
  margin-left: -140px;
  margin-top: 10px;
}
#golfer {
  width: 100%;
}
/*#home {
  margin-top: -220px;
}*/
@media (max-width: 1100px) {
  #sidebar , #golfer{
    display: none;
  }
  #logo {
    margin-left: -40px;
  }
  #chart {
    margin-top: 20px;
  }
}
@media (max-width: 700px) {
  #mapContainer {
    display: none;
  }
  #logo {
    margin-left: 0;
  }
}
/*@media (max-width: 500px) {
  #intro, #golfer {
    display: none;
  }
}*/
