<div class="row">
  <h3>Please log in below</h3>
  <form class="col s12" ng-submit="mainCtrl.login()">
    <div class="row">
      <div class="input-field col s8">
        <input id="username" type="text" class="validate" ng-model="mainCtrl.username" required="true">
        <label for="username">Username</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field col s8">
        <input id="password" type="password" class="validate" ng-model="mainCtrl.password" required="true">
        <label for="password">Password</label>
      </div>
    </div>
    <input type="submit" class="waves-effect waves-light btn">
  </form>
</div>
<h4 class="error">{{ mainCtrl.errMsg }}</h4>
