<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- user info -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
  <h1 closs="col s12"><span class="accentBorder">{{ userCtrl.user.username }}</span></h1>
  <div class="col s12 col m6">
    <ul>
      <li><h5>Best round:</h5> <span ng-show="userCtrl.user.bestScore > 0">+</span><span ng-show="userCtrl.user.bestScore !== 0">{{ userCtrl.user.bestScore }}</span><span ng-show="userCtrl.user.bestScore === 0">Even</span> <span class="accent">@</span> {{ userCtrl.user.bestCourse }}<br>
      on {{ userCtrl.user.bestDate | date: shortDate }}</li>
      <li><h5>Most played course:</h5> {{ userCtrl.user.mostPlayed }}</li>
    </ul>
  </div>
  <div class="col s12 col m6">
    <h5>Your courses</h5><span ng-show="userCtrl.user.favCourses.length === 0"> will appear here</span>
    <ul>
      <li ng-repeat="fav in userCtrl.user.favCourses" class="accent pseudoLink"><span ng-click="userCtrl.viewStats(fav)">{{ fav.name }}</span></li>
    </ul>
  </div>
  <div class="col s12" id="buttons">
    <a ui-sref="search"><button class="waves-effect waves-light btn">Search for courses</button></a>
    <button ng-click="userCtrl.logOut()" class="waves-effect waves-light btn">Logout</button>
    <button ng-click="userCtrl.deleteUser(userCtrl.user)" class="waves-effect waves-light btn">Delete Account</button>
  </div>
</div>
