<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- user info -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= -->
<div class="row" ng-show="userCtrl.info">
  <h1><span class="accentBorder">{{ userCtrl.user.username }}</span></h1>
  <div class="col s6">
    <ul>
      <li><h5>Best round:</h5> <span ng-show="userCtrl.profileBestScore > 0">+</span><span ng-show="userCtrl.profileBestScore !== 0">{{ userCtrl.profileBestScore }}</span><span ng-show="userCtrl.profileBestScore === 0">Even</span> @ {{ userCtrl.profileBestCourse }}<br>
      on {{ userCtrl.profileBestDate | date: shortDate }}</li>
      <li><h5>Most played course:</h5> {{ userCtrl.profileMostPlayed }}</li>
    </ul>
  </div>
  <div class="col s6">
    <h5>Your courses</h5><span ng-show="userCtrl.user.favCourses.length === 0"> will appear here</span>
    <ul>
      <li ng-repeat="fav in userCtrl.user.favCourses" class="accent"><span ng-click="userCtrl.viewStats(fav)">{{ fav.name }}</span></li>
    </ul>
  </div>
  <div class="col s12" id="buttons">
    <a ui-sref="search"><button class="waves-effect waves-light btn">Search for courses</button></a>
    <button ng-click="userCtrl.logOut()" class="waves-effect waves-light btn">Logout</button>
    <button ng-click="userCtrl.deleteUser(userCtrl.user)" class="waves-effect waves-light btn">Delete Account</button>
  </div>
</div>
<!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= course info =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
<div class="row" ng-hide="userCtrl.info">
  <h1><span class="accentBorder">{{ userCtrl.user.username }}</span></h1>
  <div class="col s12">
    <h4 class="col s4">{{ userCtrl.currentCourse.name }}</h4>
  </div>
  <span class="col s12"><span>Best Round: <span ng-show="userCtrl.bestScore > 0">+</span><span ng-show="userCtrl.bestScore !== 0">{{ userCtrl.bestScore }}</span><span ng-show="userCtrl.bestScore === 0">Even</span> on {{ userCtrl.bestDate | date: shortDate }}</span></span>
  <br>
  <br>
  <!-- <ul>
    <span ng-click="userCtrl.swapAction()" class="bold accent" > {{ userCtrl.action }}</span>
    <li ng-repeat="stat in userCtrl.currentCourse.stats | orderBy: '-'" ng-hide="userCtrl.showStats">
      <span ng-show="stat.score > 0">+</span><span ng-show="stat.score !== 0">{{ stat.score }}</span><span ng-show="stat.score === 0">Even</span> on {{ stat.date | date: shortDate }}
    </li>
  </ul> -->
  <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-= graph -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-->

  <!-- -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- submit score form -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=- -->
  <!-- <div class="col s12">
    <div id="bar" class="col s9"></div>
  </div> -->
  <!-- <h5 class="col s4">Record your latest round</h5> -->
  <form ng-submit="userCtrl.submitStats(userCtrl.currentCourse)" class="col s4">
    <div class="input-field col s12">
      <input type="number" ng-model="userCtrl.score" required="true" placeholder="Score">
    </div>
    <div class="input-field col s12">
      <input type="date" ng-model="userCtrl.date" class="datepicker" required="true">
    </div>
    <div id="buttons" class="col s12">
      <input type="submit" class="waves-effect waves-light btn">
      <button ng-click="userCtrl.backButton()" class="waves-effect waves-light btn">Back</button>
    </div>
  </form>
  <!-- <div class="col s12"> -->
    <div class="col s8">
      <canvas id="chart" class="chart chart-line" chart-data="userCtrl.data"
        chart-labels="userCtrl.labels" chart-legend="true" chart-series="userCtrl.series" height="300" width="600">
      </canvas>
    </div>
  <!-- </div> -->
</div>
